/* Imports */

/* @font-face{
    font-family: OPTICentury ;
    src: url(../Fuentes/OPTICenturyExpandedTwo.otf);
} */


/* Header */

*{
    box-sizing: border-box;
    font-family: "roboto";
    font-size: medium;
    /* border: 2px solid aquamarine; */
   
    
}

a:hover{
    cursor:pointer;
}

button:hover{
    cursor:pointer;
}

select:hover{
    cursor:pointer;
}

p{
    margin: 0;
    padding: 0;
}

h1{
    font-family: "arapey";
    font-size: 80px;
}

h2{
    box-sizing: border-box;
    margin-right: 0px;
    padding-right: 0px;

}

header{
    align-items: center;
    display: flex ;
    justify-content: center;
    margin-top : 0px;
    padding-top: 0px;
    background-color: white;
    padding-bottom: 0px;
    margin-bottom: 0px;
    vertical-align: bottom;
    padding-left: 15px;
}

body{
    background-color: #EDEDED;
    margin-left: 55px;
    margin-top: 22px;
    width: 840px;
    margin: 0 auto;
}

a{
    padding: 10px;
    font-weight: 660;
    font-size: small;
    text-decoration: none;
    color: black;
    margin-bottom: 0 5px;
    border: transparent solid 2px ;
    transition: 0.2s;

}

a:hover{
    border: solid 2px gray;
    border-radius: 5px;
}

.topNav{
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
}

.contactMe{
  margin-right: 65px;
}

.mm{
        width: 100px;
        padding: 2px;
        text-align: left;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* Fin Header*/


/* Hero */

.hero{

    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    background-color: white;
    padding-left: 20px;
    backdrop-filter: grayscale(90%);
    z-index: 1;
}

.hero::before{
    content: url('../img/yo.png');
    position:absolute;
    bottom: -90px;
    right: -30px;
    filter: grayscale(90%); 
    z-index: -1;
    overflow: hidden;
}

.h1Hero{
    font-size: 80px;
    font-family: "arapey";
    margin: 10px 0 30px 0;
}

.h2Hero{
    position:relative;
    z-index: 1;
}

.aHero{
    text-decoration: underline;
    color: black;
    padding: 10px 20px;
    margin: 0 0 5px 0;
    display:inline-flex;
    align-items:center;
    width: auto;
    border: 2px solid transparent;
    
}

.mailIcon{
    margin-right: 5px;
}

.aHero:hover{
    color: white;
    background-color: #161517;
    text-decoration: none;
}

.pHero{
    width: 420px;
    margin: 30px 0;
}

.parrafoHero{
    display: flex;
    padding-left: 20px;
}

.quoteUp{
    padding-top: 10px;
}

.quoteDown{
   transform:rotate(180deg);
   display: inline-block;
}



.slider{
   
    background-color: #161517;
    height: 90px;
    white-space: nowrap;
    position: relative;
    place-items: center;
    overflow: hidden;
    vertical-align: middle;
    align-items: center;

}


.slide-track{
    padding-top: 10px;
    color: white;
    display: flex;
    width: 2280px;
    animation: scroll 10s  infinite linear;
    overflow: hidden;
    
    

}


.slide{
    color: white;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    width: 285px;
}

.pSlider{
    font-size: 20px;
}
@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
} 

.imgBanda{
    height: 40px;
    margin: 0 20px
}

/* Fin Hero */

/* About Me */

.aboutMe{
    display: flex;
    margin-top: 80px;
    
}

.h2AboutMe{
    margin-top: 0px;
}

.h1AboutMe{
    font-size: 50px;
    margin: auto 0;
    padding-top: 0;
}

.aboutMeDerecha{
  padding-left: 30px;
  padding-top: 0;
  margin-top: 0;
}

.contenedorCuadraditos{
    display: flex;
    justify-content: left;
}

.h3Cuadradito{
    font-size: 20px;
    margin: 0 0;
    padding: 0 0;
 
}

.cuadraditos{
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.pCuadradito{
    font-weight: 500;
}

.pAboutMe{
    margin-top: 10px;
    margin-bottom: 50px;
}

.fotoAboutMe{
    padding-left: 50px;
    border-radius: 5px;
    background-image: url('../img/trapecio\ recortado.png');
    transform: scaleX(-1);
    background-position: bottom left;
    background-size: 400px;
    background-repeat: no-repeat;
    filter: grayscale(90%); 
    width: 1000px;
    height: 390px;
    position: relative;
    overflow: hidden;
    padding-right: 50px;
    

}

.yo2{
    
    transform: scaleX(-1);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
}

/* Fin About Me */

/* My Services */

.myServices{
    justify-content: center;
    margin-top: 50px;
}

.headerServices{
    padding: 0;
    text-align: center;
    justify-content: center;
}

.contenedorServices{
    display: flex;
    margin-top: 50px;
}

.services{
    display:  flexbox;
    width: 40%;
    margin: 0 10px;
    background-color: white;
    border-radius: 5px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 325px;
}

.servicesImg{   
    height: 50px;
    margin: 0 auto;
    margin-top: 20px;
}

.h1Services{
    font-size: 25px;
    text-align: center;
 
}

.h2MyServices{
    text-align: center;
    padding: 0;
    margin: 0;
}

.pMyServices{
    padding: 0;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 11px;
    line-height: 1.5;
}

.pAncho{
    width: 700px;
}



.h1MyServices{
    font-size: 50px;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0;
    margin-bottom: 10px;
}

.aServices{
    margin-top: 0;
    margin-bottom: 10px;
}

/* Fin My Services */

/* My Portfolio */

.myPortfolio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 130px 0;
}

.pPortfolio{
    width: 70%;
    text-align: center;
    font-size: 14px;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    
}

.h2Portafolio{
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 500;
}

.buttonBar{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom:40px;
    
}

.buttonPortfolio{
    background-color: white;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    padding: 2px 20px;
    margin: 0 10px;
    display:inline-flex;
    align-items:center;
    width: auto;
    transition: 0.2s;
    border: 2px solid transparent;
    
    
}

.buttonPortfolio:hover{
    color: white;
    background-color: #161517;
    text-decoration: none;
}

.cointainerPortfolio{
    margin: 40px 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
   
}

.containerCarrusel{
    align-items: center;
    width: 840px;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
}

#containerCarrusel::-webkit-scrollbar{
  display: none;
}


.cuadradosCarrusel{
    margin: 0 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
}

.iconoFlechaDiagonal{
    position: relative;
    bottom: 50px;
    left: 375px;
    padding-top: 5px;
    font-size: 30px;
    margin-left: 0px;
}

.iconoFlechaDiagonal:hover{
    cursor:pointer;
}


.imgCarrusel{
    height: 230px;
   
    padding: 0px;
    border-radius: 10px;
    margin: 30px;
    margin-bottom: 5px;
}

.h1Carrusel{
    width: 400px;
    margin-bottom: 2px;
    text-align: left;
    margin-left: 42px;
    margin-top: 0;
}

.pCarrusel{
    margin-top: 0;
    margin-left: 42px;
    margin-bottom: 0px;
}

.flechas{
    border: transparent 2px;
    margin-top: 30px;
    filter:opacity(60%);
    transition: 0.4s;
    
}

.flechas:hover{
    filter: opacity(100%);
}

.iconoFlechaHorizontal{
    font-size: 25px;
}

/* Fin My Portfolio */

/* Testimonial */

.testimonial{
    background-color: white;
    padding-left: 65px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.containerTestimonial{
    display: flex;
    margin-top: 40px;
}

.imgTestimonial{
    height: 300px;
    margin-right:80px;
    margin-left: 0;
}

.h3Testimonial{
    font-family: 'arapey';
    font-size: 20px;
    font-weight: 550;
    width: 80%;
}

.oscurito{
    font-weight: 600;
    margin: 0;
    margin-top: 30px;
}

.pTestimonial{
    margin-top: 10px;
    width: 90%;
    text-align: left;
    font-size: 12px;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.big{
    font-size: 20px;
    background-color: white;
}

.comillas{
    color: gray;
}

.contenedorComillas{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-direction: row;
}

.comillasTestimonial{
    font-size: 100px;
    padding: 0;
    margin: 0;
    padding-left: 60px;

}

.containerClienteFlechas{
    display: flex;
    flex-direction: row;
    height: 40px;

}

.textoCliente{
    width: 300px;
}

.divFlechitas{
    width: 50%;
    margin-left: 80px;
    margin-top: 15px;
    margin-right: 0;
    padding-left: 20px;
    
}

.fondoBlanco{
    background-color: white;

}


/* Fin Testimonial */

/* Get In Touch */

.getInTouch{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 60px 0;
}

.centrado{
    text-align: center;
}

.pGetInTouch{
    align-self: center;
    margin-top: 10px;
    width: 60%;
    text-align: center;
    font-size: 12px;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    margin-bottom: 60px;
}

.h2Contacto{
    font-family: 'roboto';
    text-align: center;
    font-size: 40px;
    margin: 20px 0;
    margin-top: 0px;
    padding-top: 30px;
}

.cuadradoContacto{
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 60%;
    align-self: center;
}

.labelContacto{
    margin: 0 60px;
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 10px;
  
}

.inputContacto{
    margin: 0 60px;
    margin-bottom: 5px;
    width: 75%;
    border-radius: 10px;
    border: 1px gray solid;
    filter: opacity(50%);
    padding: 10px 20px;
}

.buttonContacto{
    width: 75%;
    margin: 30px 60px;
    margin-bottom: 90px;
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 2s;

    cursor:pointer;
}

.pButton{
    font-family: 'roboto';
    font-size: 15px;
}

.buttonContacto:hover{
    background-color: gray;
    
}

option:hover{
    cursor:pointer;
}

/* Fin Get In Touch */

/* Footer */

footer{
    background-color: #171717;
}

.containerFooter{
    width: 90%;
    display: flex;
}

.textoFooter{
    color: white;
}

.textoFinal{
    display: flex;
    justify-content: space-between;
    color: gray;
    padding-bottom: 20px;
    margin: 0 10px;
}

.copyright{
    color: gray;
}

hr{
    color: gray;
}
/* Fin Footer */