/* Imports */

/* @font-face{
    font-family: OPTICentury ;
    src: url(../Fuentes/OPTICenturyExpandedTwo.otf);
} */


/* Header */

*{
    box-sizing: border-box;
    font-family: "roboto";
    font-size: medium;
    border: 2px solid aquamarine;
   
    
}

p{
    margin: 0;
    padding: 0;
}

h1{
    font-family: "arapey";
    font-size: 80px;
}

h2{
    box-sizing: border-box;
    margin-right: 0px;
    padding-right: 0px;

}

header{
    align-items: center;
    display: flex ;
    justify-content: center;
    margin-top : 0px;
    padding-top: 0px;
    background-color: white;
    padding-bottom: 0px;
    margin-bottom: 0px;
    vertical-align: bottom;
    padding-left: 15px;
}

body{
    background-color: #EDEDED;
    margin-left: 55px;
    margin-top: 22px;
    width: 840px;
    margin: 0 auto;
}

a{
    padding: 10px;
    font-weight: 660;
    font-size: small;
    text-decoration: none;
    color: black;
    margin-bottom: 0 5px;
    border: transparent solid 2px ;
    transition: 0.2s;

}

a:hover{
    border: solid 2px gray;
    border-radius: 5px;
}

.topNav{
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
}

.contactMe{
  margin-right: 65px;
}

.mm{
        width: 100px;
        padding: 2px;
        text-align: left;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* Fin Header*/


/* Hero */

.hero{

    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    background-color: white;
    padding-left: 20px;
    backdrop-filter: grayscale(90%);
    z-index: 1;
}

.hero::before{
    content: url('../img/yo.png');
    position:absolute;
    bottom: -90px;
    right: -30px;
    filter: grayscale(90%); 
    z-index: -1;
    overflow: hidden;
}

.h1Hero{
    font-size: 80px;
    font-family: "arapey";
    margin: 10px 0 30px 0;
}

.h2Hero{
    position:relative;
    z-index: 1;
}

.aHero{
    text-decoration: underline;
    color: black;
    padding: 10px 20px;
    margin: 0 0 5px 0;
    display:inline-flex;
    align-items:center;
    width: auto;
    border: 2px solid transparent;
    
}

.mailIcon{
    margin-right: 5px;
}

.aHero:hover{
    color: white;
    background-color: #161517;
    text-decoration: none;
}

.pHero{
    width: 420px;
    margin: 30px 0;
}

.parrafoHero{
    display: flex;
    padding-left: 20px;
}

.quoteUp{
    padding-top: 10px;
}

.quoteDown{
   transform:rotate(180deg);
   display: inline-block;
}



.slider{
   
    background-color: #161517;
    height: 90px;
    white-space: nowrap;
    position: relative;
    place-items: center;
    overflow: hidden;
    vertical-align: middle;
    align-items: center;

}


.slide-track{
    padding-top: 10px;
    color: white;
    display: flex;
    width: 2280px;
    animation: scroll 10s  infinite linear;
    overflow: hidden;
    
    

}


.slide{
    color: white;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    width: 285px;
}

.pSlider{
    font-size: 20px;
}
@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
} 

.imgBanda{
    height: 40px;
    margin: 0 20px
}

/* Fin Hero */

/* About Me */

.aboutMe{
    display: flex;
    margin-top: 80px;
    
}

.h2AboutMe{
    margin-top: 0px;
}

.h1AboutMe{
    font-size: 50px;
    margin: auto 0;
    padding-top: 0;
}

.aboutMeDerecha{
  padding-left: 30px;
  padding-top: 0;
  margin-top: 0;
}

.contenedorCuadraditos{
    display: flex;
    justify-content: left;
}

.h3Cuadradito{
    font-size: 20px;
    margin: 0 0;
    padding: 0 0;
 
}

.cuadraditos{
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.pCuadradito{
    font-weight: 500;
}

.pAboutMe{
    margin-top: 10px;
    margin-bottom: 50px;
}

.fotoAboutMe{
    padding-left: 50px;
    border-radius: 5px;
    background-image: url('../img/trapecio\ recortado.png');
    transform: scaleX(-1);
    background-position: bottom left;
    background-size: 400px;
    background-repeat: no-repeat;
    filter: grayscale(90%); 
    width: 1000px;
    height: 390px;
    position: relative;
    overflow: hidden;
    padding-right: 50px;
    

}

.yo2{
    
    transform: scaleX(-1);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
}

/* Fin About Me */

/* My Services */

.myServices{
    justify-content: center;
    margin-top: 50px;
}

.headerServices{
    padding: 0;
    text-align: center;
    justify-content: center;
}

.contenedorServices{
    display: flex;
    margin-top: 50px;
}

.services{
    display:  flexbox;
    width: 40%;
    margin: 0 10px;
    background-color: white;
    border-radius: 5px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 325px;
}

.servicesImg{   
    height: 50px;
    margin: 0 auto;
    margin-top: 20px;
}

.h1Services{
    font-size: 25px;
    text-align: center;
 
}

.h2MyServices{
    text-align: center;
    padding: 0;
    margin: 0;
}

.pMyServices{
    padding: 0;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 11px;
    line-height: 1.5;
}

.pAncho{
    width: 700px;
}



.h1MyServices{
    font-size: 50px;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0;
    margin-bottom: 10px;
}

.aServices{
    margin-top: 0;
    margin-bottom: 10px;
}

/* Fin My Services */

/* My Portfolio */

.myPortfolio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pPortfolio{
    width: 70%;
    text-align: center;
    font-size: 14px;
    margin: 0;
    padding: 0;
    
}

.buttonBar{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom:40px;
    
}

.buttonPortfolio{
    background-color: white;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    padding: 2px 20px;
    margin: 0 10px;
    display:inline-flex;
    align-items:center;
    width: auto;
    transition: 0.2s;
    border: 2px solid transparent;
    
    
}

.buttonPortfolio:hover{
    color: white;
    background-color: #161517;
    text-decoration: none;
}

/* Fin My Portfolio */